# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ablar\OneDrive\Dokumenter\Opgaver\Exercises for week 8\09.Exercises for week\01.Task 1 - Print alle ord der har dobbeltkonsonant i sig\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
