# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ablar\OneDrive\Dokumenter\Opgaver\Exercises for week 8\09.Exercises for week\02.Task 2. - Print den længste sætning i teksten\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
