# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ablar\OneDrive\Dokumenter\Opgaver\Exercises for week 8\09.Exercises for week\03.Task 3. - print en delmængde (substring) af et ord\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
